@charset "utf-8";

/*基本*/
.topImage{
	background-color: aqua;
	background-size: contain;
	width: 100%;
	height: 570px;
}

.topImage h1 {
	padding: 170px 30px 60px 30px;
	font-size: 80px;
	text-align: center;
}

.topImage h2 {
	font-size: 30px;
	text-align: center;
}

nav ul{
	display: flex;
}

nav li{
	list-style: none;
	width: 50%;
	font-size: 20px;
	text-align: center;
}

nav li a{
	display: block;
	color: white;
	background-color:dodgerblue;
	padding: 10px 0;
	-webkit-transiton: 0.3s ease-in-out;
	-moz-transiton: 0.3s ease-in-out;
	transiton: 0.3s ease-in-out;
}

nav li a:hover{
	background-color: white;
	color: darkblue;
}

.self-Intriduction {
	padding: 0 0 50px 0;
}

.self-Intriduction h2 {
	font-size: 30px;
	padding: 60px 0 10px 0;
	text-align: center;
}

.self-Intriduction p {
	font-size: 20px;
	padding: 10px 0 0 0;
	text-align: center;
}

.gameIntelligence {
	padding: 100px 0 50px 0;
}

.gameIntelligence h2{
	text-align: center;
}

.appealPoint h2 {
	text-align: center;
	padding: 40px 0 0 0;
	font-size: 35px;
}

.appealPoint p {
	font-size: 22px;
	
}

.SourceCode h2 {
	text-align: center;
	font-size: 35px;
	padding: 80px 0 0 0;
}

.SourceCode object {
	padding: 0 0 0 200px;
	width: 60%;
	height: 400px;
}

.gitLink {
	text-align: center;
}

.gameOverviewText { 
	padding: 50px 0 0 0;
}

.gameOverviewText h2 {
	text-align: center;
	font-size: 35px;
	padding: 20px 0 5px 0;
}

.gameOverview {
	text-align: center;
	font-size: 22px;
}

/*gamePage*/
.standardwidth h2 {
	font-size: 30px;
	padding: 30px 0 30px 0;
	text-align: center;
}

.gameMenu {
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.gameMenu img {
	width: 100%;
}

.gameMenu a {
	width: 40%;
	margin-bottom: 30px;
	text-align: center;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

.text h2 {
	text-align: center;
	padding: 50px 0 0 0;
}

.test {
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.test img {
	width: 100%;
}

.test a {
	width: 40%;
	margin-bottom: 30px;
	text-align: center;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, .3);
	box-shadow: 0 0 15px rgba(0, 0, 0, .3);
}

/*ElementalGuardians*/
.gameName h1{
	font-size: 30px;
	text-align: center;
}

.gameImage {
	text-align: center;
}
.gameImage img{
	width: 700px;
	height: 550px;
	border-radius: 50%;
	overflow: hidden;
}

.gameImage h2 {
	font-size: 19px;
	padding: 30px 0 30px 0;
	width: 600px;
	height: 150px;
    margin: auto;
}

.ElementalGuardians_gameOverviewText h2 {
	text-align: center;
	font-size: 35px;
	padding: 0 0 30px 0;
}

.ElementalGuardians_gameOverview {
	padding: 0 0 80px 0;
}

.ElementalGuardians_gameOverview p {
	font-size: 18px;
	padding: 50px 0 0 0;
}

.image1 {
	float: left;
	width: 600px;
	magin: 30px 15px;
}

.image1 img {
	width: 100%;
	height: 100%;
}

.ElementalGuardians_gameOverview2 p {
	font-size: 18px;
	padding: 50px 0 0 0;
}

.image2 {
	float: right;
	width: 600px;
	magin: 30px 15px;
}

.image2 img {
	width: 100%;
	height: 100%;
}

.appealPoint h2 {
	text-align: center;
	padding: 150px 0 0 0;
	font-size: 35px;
}

.appealPoint p {
	text-align: center;
	font-size: 22px;
}

.ElementalGuardians_gameIntelligence {
	text-align: center;
	padding: 100px 0 50px 0;
}

/*FleetRecruitTrainingGround*/
.FleetRecruitTrainingGround_gameImage {
	text-align: center;
}
.FleetRecruitTrainingGround_gameImage img{
	width: 700px;
	height: 550px;
}

.FleetRecruitTrainingGround_gameOverview {
	text-align: center;
	font-size: 22px;
}

.FleetRecruitTrainingGround_gameOverviewText h2 {
	text-align: center;
	font-size: 35px;
	padding: 30px 0 5px 0;
}

.FleetRecruitTrainingGround_gameIntelligence {
	text-align: center;
	padding: 100px 0 50px 0;
}

/*FindTheMarkInDestruction*/
.FindTheMarkInDestruction_gameImage {
	text-align: center;
}
.FindTheMarkInDestruction_gameImage img{
	width: 700px;
	height: 550px;
}

.FindTheMarkInDestruction_gameOverview {
	text-align: center;
	font-size: 22px;
}

.FindTheMarkInDestruction_gameOverviewText h2 {
	text-align: center;
	font-size: 35px;
	padding: 10px 0 5px 0;
}

.FindTheMarkInDestruction_gameIntelligence {
	text-align: center;
	padding: 100px 0 50px 0;
}


/*600px以上*/
@media screen and (min-width: 600px){
	.gamemenu a.cake {
		width: 30%;
	}
}

/*960px以上*/
@media screen and (min-width: 960px){
	main {
		max-width: 1024px;
		margin: 0 auto;
	}
	
	.standarwidht {
		text-align: center;
	}
	
}
